<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="TestMode" value="true" />
  <add key="MaxCsvFileSize" value="2" />
  <add key="UploadPath" value="C:\Temp" />
  <add key="SupportPhoneNumber" value="111-222-3434" />
  <add key="EnableSSL" value="True" />
  <add key="SupportEmail" value="Support@donotresolve.com" />
</appSettings>
