<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Data ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.mindbodyonline.com/0_5/DataService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Data ServiceSoap"
                contract="MindBodyAPI.DataServiceSoap" name="Data ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>