@model AIM.Administration.Services.XmlImportInfo
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    ViewBag.Title = "Import Result";
}
<h2>
    Success</h2>
<table class="table-border">
    <tr>
        <td>
            Success
        </td>
        <td>@Model.SuccessCount
        </td>
    </tr>
    <tr>
        <td>
            Duplicate
        </td>
        <td>@Model.DuplicateCount
        </td>
    </tr>
    <tr>
        <td>
            Failure
        </td>
        <td>@Model.FailureCount
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Back", "Index")
</p>
