<connectionStrings>
  <!--<add name="AIM" connectionString="Data Source=184.168.113.244\AIMSQL;Initial Catalog=AIMDEV;Persist Security Info=True;User ID=DEVDBA;Password=testing!@#"
      providerName="System.Data.SqlClient" />-->
  <add name="AIM" connectionString="Data Source=WINDOWS8\AIMSQL;Initial Catalog=AIMDEV;Persist Security Info=True;User ID=DEVDBA;Password=testing!@#" providerName="System.Data.SqlClient" />
  <add name="Logging" connectionString="Data Source=184.168.113.244\AIMSQL;Initial Catalog=Logging;Persist Security Info=True;User ID=DEVDBA;Password=testing!@#" providerName="System.Data.SqlClient" />
</connectionStrings>