<connectionStrings>
  <add name="AIM" connectionString="Data Source=216.224.163.42;Initial Catalog=AIM;Persist Security Info=True;User ID=AIMUSER;Password=testing2115!"
      providerName="System.Data.SqlClient" />
  <add name="Logging" connectionString="Data Source=216.224.163.42;Initial Catalog=Logging;Persist Security Info=True;User ID=AIMUSER;Password=testing2115!" providerName="System.Data.SqlClient" />
</connectionStrings>